@{
    ViewData["Title"] = "Anasayfa";
}
<!-- ========================  Header content ======================== -->

<section class="header-content">

    <div class="clearifx">

        <div class="owl-slider">
            <!-- === slide item === -->
            <div class="item" style="background-image:url(assets/images/gallery-2.jpg)">
                <img src="~/img/gallery-2.jpg" />
                <div class="box box-left">
                    <div class="text-right">
                        <h2 class="title animated h1" data-animation="fadeInDown">LuthFansa İle Artık Herkes Kazanacak</h2>
                        <div class="animated" data-animation="fadeInUp">
                            En Kaliteli Markalar İçeride
                            <br />
                            Sizler İçin Bekliyor
                        </div>
                        <div class="animated" data-animation="fadeInUp">
                            <a href="#" target="_blank" class="btn btn-clean"><i class="icon icon-cart"></i> Satın Al</a>
                            <a href="#" target="_blank" class="btn btn-clean"><i class="icon icon-eye"></i> İncele</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- === slide item === -->
            <div class="item" style="background-image:url(assets/images/gallery-3.jpg)">
                <img src="~/img/gallery-1.jpg" />
                <div class="box box-right">
                    <div class="text-left">
                        <h2 class="title animated h1" data-animation="fadeInDown">Yolumuz Çok Uzundu Çok Çalıştık</h2>
                        <div class="animated" data-animation="fadeInUp">
                            Başarıya Koşmaktan vazgeçmedik <br />
                            Mülakat İçin Hazırım :)
                        </div>
                        <div class="animated" data-animation="fadeInUp">
                            <a href="#" target="_blank" class="btn btn-clean"><i class="icon icon-cart"></i> Satın Al</a>
                            <a href="#" target="_blank" class="btn btn-clean"><i class="icon icon-eye"></i> İncele</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!--/owl-slider-->
    </div>
</section>

<!-- ========================  Blog Block ======================== -->

<section class="blog blog-block blog-intro">

    <div class="container">

        <!-- === blog header === -->

        <header class="hidden">
            <div class="row">
                <div class="col-md-offset-2 col-md-8 text-center">
                    <h2 class="title">Check out our featured news</h2>
                    <div class="text">
                        <p>Keeping things minimal</p>
                    </div>
                </div>
            </div>
        </header>

        <div class="row row-clean">

            <!-- === blog item === -->

            <div class="col-xs-6 col-sm-3">
                <article>
                    <a href="products-grid.html">
                        <div class="image">
                            <img src="~/img/project-1.jpg" alt="" /> @*Gerekli fotoları Linkleme İşlemlerini Yapıyorum*@
                        </div>
                        <div class="entry entry-block">
                            <div class="date">2023 Servet Koleksiyonu</div>
                            <div class="title">
                                <h2 class="h3">MODA</h2>
                            </div>
                            <div class="description">
                                <p>
                                    Tüm Modeller İçeride Sizleri Bekliyor
                                </p>
                            </div>
                        </div>
                        <div class="show-more">
                            <span class="btn btn-clean">Satın Al</span>
                        </div>
                    </a>
                </article>
            </div>

            <!-- === blog item === -->

            <div class="col-xs-6 col-sm-3">
                <article>
                    <a href="products-grid.html">
                        <div class="image">
                            <img src="~/img/project-2.jpg" alt="" />
                        </div>
                        <div class="entry entry-block">
                            <div class="date">Gümrük Vergisiz</div>
                            <div class="title">
                                <h2 class="h3">Elektronik</h2>
                            </div>
                            <div class="description">
                                <p>
                                    En popüler Cihazlar
                                </p>
                            </div>
                        </div>
                        <div class="show-more">
                            <span class="btn btn-clean">Satın Al</span>
                        </div>
                    </a>
                </article>
            </div>

            <!-- === blog item === -->

            <div class="col-xs-6 col-sm-3">
                <article>
                    <a href="products-grid.html">
                        <div class="image">
                            <img src="~/img/project-6.jpg" alt="" />
                        </div>
                        <div class="entry entry-block">
                            <div class="date">%50'ye Varan İndirimler</div>
                            <div class="title">
                                <h2 class="h3">Spor Malzemeleri</h2>
                            </div>
                            <div class="description">
                                <p>
                                    Direk Stoktan Hızlı Satış
                                </p>
                            </div>
                        </div>
                        <div class="show-more">
                            <span class="btn btn-clean">Satın Al</span>
                        </div>
                    </a>
                </article>
            </div>

            <!-- === blog item === -->

            <div class="col-xs-6 col-sm-3">
                <article>
                    <a href="products-grid.html">
                        <div class="image">
                            <img src="~/img/project-4.jpg" alt="" />
                        </div>
                        <div class="entry entry-block">
                            <div class="date">Büyük İndirimler</div>
                            <div class="title">
                                <h2 class="h3">Ev & Bahçe</h2>
                            </div>
                            <div class="description">
                                <p>
                                    Yeni Evinizi Yaratın
                                </p>
                            </div>
                        </div>
                        <div class="show-more">
                            <span class="btn btn-clean">Satın Al</span>
                        </div>
                    </a>
                </article>
            </div>

        </div> <!--/row-->
        <!-- === button more === -->

        <div class="wrapper-more">
            <a href="ideas.html" class="btn btn-lg">Ürünlerimizi İncelemek İster misiniz?</a>
        </div>

    </div> <!--/container-->
</section>

<!-- ========================  BLOK BANNER BÖLÜMÜ ======================== -->

<section class="blog blog-block">

    <!-- === BAŞLIK HEADER === -->

    <header class="hidden">
        <div class="text-center"><h2 class="title">Kategoriler</h2></div>
    </header>

    <div class="row row-clean">

        <!-- === blog item === -->

        <div class="col-md-6">
            <article>
                <div>
                    <div class="image">

                        <!--Anasayfa Resim-->

                        <img src="~/img/shop-1.jpg" />


                        <!--MOBİL BÖLÜM-->

                    </div>
                    <div class="entry entry-block">
                        <div class="date">Alışveriş Yap</div>
                        <div class="title">
                            <h2 class="h3">Elektronik</h2>
                        </div>
                        <div class="description">
                            <ul>
                                <li>
                                    <a href="">Bilgisayar &amp; Tabletler</a>
                                </li>
                                <li>
                                    <a href="">Cameralar &amp; Fotoğraf Makineleri</a>
                                </li>
                                <li>
                                    <a href="">Televizyonlar &amp; Hoparlörler</a>
                                </li>
                                <li>
                                    <a href="">Cep Telefonları &amp; Aksesuarlar</a>
                                </li>
                                <li class="more">
                                    <a href="#">Fazlası</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </article>
        </div>

        <!-- === blog item === -->

        <div class="col-md-6">
            <article>
                <div>
                    <div class="image">

                        <!--BİLGİSAYAR FOTOĞRAF-->
                        <img src="assets/images/shop-2.jpg" alt="" class="hidden-xs" />
                        <img src="~/img/shop-2.jpg" />
                        <!--MOBİL FOTOĞRAF-->
                        <img src="assets/images/shop-2-mobile.jpg" alt="" class="visible-xs" />

                    </div>
                    <div class="entry entry-block">
                        <div class="date">Alışveriş Yap</div>
                        <div class="title">
                            <h2 class="h3">Beyaz Eşya & Elektrikli Aletler</h2>
                        </div>
                        <div class="description">
                            <ul class="col">
                                <li>
                                    <a href="#">Elektrikli Süpürge & Air Fryerlar</a>
                                </li>
                                <li>
                                    <a href="#">Yıkama & Kurutma</a>
                                </li>
                                <li>
                                    <a href="#">Buzdolapları</a>
                                </li>
                                <li>
                                    <a href="#">Bulaşık Makineleri</a>
                                </li>
                                <li class="more">
                                    <a href="#">Fazlası</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </article>
        </div>

    </div> <!--/row-->
</section>

<!-- ========================  SLİDER ======================== -->

<section class="owl-icons-wrapper">

    <!-- === header === -->

    <header class="hidden">
        <div class="text-center"><h2 class="title">Product categories</h2></div>
    </header>

    <div class="clearfix">

        <div class="owl-icons owl-icons-rounded owl-icons-frontpage">

            <!-- === icon item === -->

            <a href="#">
                <figure>
                    <img src="~/img/product-1.png" alt="Alternate Text" />
                    <figcaption>Ayakkabılar</figcaption>
                </figure>
            </a>

            <!-- === icon item === -->

            <a href="#">
                <figure>
                    <img src="~/img/product-2.png" alt="Alternate Text" />
                    <figcaption>Akıllı Saatler</figcaption>
                </figure>
            </a>

            <!-- === icon item === -->

            <a href="#">
                <figure>
                    <img src="~/img/product-3.png" alt="Alternate Text" />
                    <figcaption>Televizyonlar </figcaption>
                </figure>
            </a>

            <!-- === icon item === -->

            <a href="#">
                <figure>
                    <img src="~/img/product-4.png" alt="Alternate Text" />
                    <figcaption>Dronlar</figcaption>
                </figure>
            </a>

            <!-- === icon item === -->

            <a href="#">
                <figure>
                    <img src="~/img/product-5.png" alt="Alternate Text" />
                    <figcaption>Kameralar</figcaption>
                </figure>
            </a>

            <!-- === icon item === -->

            <a href="#">
                <figure>
                    <img src="~/img/product-6.png" alt="Alternate Text" />
                    <figcaption>Cep Telefonları</figcaption>
                </figure>
            </a>

            <!-- === icon item === -->

            <a href="#">
                <figure>
                    <img src="~/img/product-7.png" alt="Alternate Text" />
                    <figcaption>Acsesuarlar</figcaption>
                </figure>
            </a>

            <!-- === icon item === -->

            <a href="#">
                <figure>
                    <img src="~/img/product-8.png" alt="Alternate Text" />
                    <figcaption>Ev Aletleri</figcaption>
                </figure>
            </a>

            <!-- === icon item === -->

            <a href="#">
                <figure>
                    <img src="~/img/product-9.png" alt="Alternate Text" />
                    <figcaption>Projektörler</figcaption>
                </figure>
            </a>




        </div> <!--/owl-icons-->
    </div> <!--/container-->
</section>

<!-- ======================== ÇOK SATANLAR ======================== -->

<section class="products">

    <!-- ===HEADER BAŞLIK === -->

    <header>
        <div class="row">
            <div class="col-md-offset-2 col-md-8 text-center">
                <h2 class="title">Çok Satanlar</h2>
                <div class="text">
                    <p>Çok Satan Ürünlerde Ultra İndirimler</p>
                </div>
            </div>
        </div>
    </header>

    <div class="row row-clean">

        <!-- === ÜRÜN === -->

        <div class="col-xs-6 col-sm-4 col-lg-2">
            <article>
                <div class="info">
                    <span class="add-favorite">
                        <a href="javascript:void(0);" data-title="Favorilere Ekle" data-title-added="Added to favorites list"><i class="icon icon-heart"></i></a>
                    </span>
                    <span>
                        <a asp-controller="Home" asp-action="Urun" class="mfp-open" data-title="Hızlı İncele"><i class="icon icon-eye"></i></a>
                    </span>
                </div>
                <div class="btn btn-add">
                    <i class="icon icon-cart"></i>
                </div>
                <div class="figure-grid">
                    <div class="image">
                        <a href="#productid1" class="mfp-open">
                            <img src="~/img/product-7.png" alt="" width="360" />
                        </a>
                    </div>
                    <div class="text">
                        <h2 class="title h5">
                            <a asp-controller="Home" asp-action="Urun">Kahve Makinesi</a>
                        </h2>
                        <sub>160 TL,-</sub>
                        <sup>149TL,-</sup>
                        <span class="description clearfix">Gubergren amet dolor ea diam takimata consetetur facilisis blandit et aliquyam lorem ea duo labore diam sit et consetetur nulla</span>
                    </div>
                </div>
            </article>
        </div>

        <!-- === ÜRÜN === -->

        <div class="col-xs-6 col-sm-4 col-lg-2">
            <article>
                <div class="info">
                    <span class="add-favorite">
                        <a href="javascript:void(0);" data-title="Favorilere Ekle" data-title-added="Added to favorites list"><i class="icon icon-heart"></i></a>
                    </span>
                    <span>
                        <a asp-controller="Home" asp-action="Urun" class="mfp-open" data-title="Hızlı İncele"><i class="icon icon-eye"></i></a>
                    </span>
                </div>
                <div class="btn btn-add">
                    <i class="icon icon-cart"></i>
                </div>
                <div class="figure-grid">
                    <span class="label label-danger">-50%</span>
                    <div class="image">
                        <a href="#productid1" class="mfp-open">
                            <img src="~/img/product-8.png" alt="" width="360" />
                        </a>
                    </div>
                    <div class="text">
                        <h2 class="title h5">
                            <a asp-controller="Home" asp-action="Urun">Ütü</a>
                        </h2>
                        <sub>2999 TL,-</sub>
                        <sup>2409 TL,-</sup>
                        <span class="description clearfix">Gubergren amet dolor ea diam takimata consetetur facilisis blandit et aliquyam lorem ea duo labore diam sit et consetetur nulla</span>
                    </div>
                </div>
            </article>
        </div>

        <!-- === ÜRÜN === -->

        <div class="col-xs-6 col-sm-4 col-lg-2">
            <article>
                <div class="info">
                    <span class="add-favorite">
                        <a href="javascript:void(0);" data-title="Favorilere Ekle" data-title-added="Added to favorites list"><i class="icon icon-heart"></i></a>
                    </span>
                    <span>
                        <a a asp-controller="Home" asp-action="Urun" class="mfp-open" data-title="Hızlı İncele"><i class="icon icon-eye"></i></a>
                    </span>
                </div>
                <div class="btn btn-add">
                    <i class="icon icon-cart"></i>
                </div>
                <div class="figure-grid">
                    <div class="image">
                        <a href="#productid1" class="mfp-open">
                            <img src="~/img/product-9.png" alt="" width="360" />
                        </a>
                    </div>
                    <div class="text">
                        <h2 class="title h5">
                            <a asp-controller="Home" asp-action="Urun">Projeksiyon</a>
                        </h2>
                        <sub>9000 TL,-</sub>
                        <sup>8199 TL,-</sup>
                        <span class="description clearfix">Gubergren amet dolor ea diam takimata consetetur facilisis blandit et aliquyam lorem ea duo labore diam sit et consetetur nulla</span>
                    </div>
                </div>
            </article>
        </div>

        <!-- === product-item === -->

        <div class="col-xs-6 col-sm-4 col-lg-2">
            <article>
                <div class="info">
                    <span class="add-favorite">
                        <a href="javascript:void(0);" data-title="Favorilere Ekle" data-title-added="Added to favorites list"><i class="icon icon-heart"></i></a>
                    </span>
                    <span>
                        <a asp-controller="Home" asp-action="Urun" class="mfp-open" data-title="Hızlı İncele"><i class="icon icon-eye"></i></a>
                    </span>
                </div>
                <div class="btn btn-add">
                    <i class="icon icon-cart"></i>
                </div>
                <div class="figure-grid">
                    <span class="label label-info">-20%</span>
                    <div class="image">
                        <a href="#productid1" class="mfp-open">
                            <img src="~/img/product-10.png" alt="" width="360" />
                        </a>
                    </div>
                    <div class="text">
                        <h2 class="title h5">
                            <a href="product.html">Kulaklık</a>
                        </h2>
                        <sub>1999 TL,-</sub>
                        <sup>1990 TL,-</sup>
                        <span class="description clearfix">Gubergren amet dolor ea diam takimata consetetur facilisis blandit et aliquyam lorem ea duo labore diam sit et consetetur nulla</span>
                    </div>
                </div>
            </article>
        </div>

        <!-- === product-item === -->

        <div class="col-xs-6 col-sm-4 col-lg-2">
            <article>
                <div class="info">
                    <span class="add-favorite">
                        <a href="javascript:void(0);" data-title="Favorilere Ekle" data-title-added="Added to favorites list"><i class="icon icon-heart"></i></a>
                    </span>
                    <span>
                        <a asp-controller="Home" asp-action="Urun" class="mfp-open" data-title="Hızlı İncele"><i class="icon icon-eye"></i></a>
                    </span>
                </div>
                <div class="btn btn-add">
                    <i class="icon icon-cart"></i>
                </div>
                <div class="figure-grid">
                    <div class="image">
                        <a href="#productid1" class="mfp-open">
                            <img src="~/img/product-11.png" alt="" width="360" />
                        </a>
                    </div>
                    <div class="text">
                        <h2 class="title h5">
                            <a href="product.html">Elektrikli Süpürge</a>
                        </h2>
                        <sub>1999 TL,-</sub>
                        <sup>1499 TL,-</sup>
                        <span class="description clearfix">Gubergren amet dolor ea diam takimata consetetur facilisis blandit et aliquyam lorem ea duo labore diam sit et consetetur nulla</span>
                    </div>
                </div>
            </article>
        </div>

        <!-- === product-item === -->

        <div class="col-xs-6 col-sm-4 col-lg-2">
            <article>
                <div class="info">
                    <span class="add-favorite">
                        <a href="javascript:void(0);" data-title="Favorilere Ekle" data-title-added="Added to favorites list"><i class="icon icon-heart"></i></a>
                    </span>
                    <span>
                        <a asp-controller="Home" asp-action="Urun" class="mfp-open" data-title="Hızlı İncele"><i class="icon icon-eye"></i></a>
                    </span>
                </div>
                <div class="btn btn-add">
                    <i class="icon icon-cart"></i>
                </div>
                <div class="figure-grid">
                    <div class="image">
                        <a href="#productid1" class="mfp-open">
                            <img src="~/img/product-12.png" alt="" width="360" />
                        </a>
                    </div>
                    <div class="text">
                        <h2 class="title h5">
                            <a asp-controller="Home" asp-action="Urun">Traş Makinesi</a>
                        </h2>
                        <sub>2000 TL-</sub>
                        <sup>1500 TL-</sup>
                        <span class="description clearfix">Gubergren amet dolor ea diam takimata consetetur facilisis blandit et aliquyam lorem ea duo labore diam sit et consetetur nulla</span>
                    </div>
                </div>
            </article>
        </div>

    </div> <!--/row-->
    <!-- === button more === -->

    <div class="wrapper-more">
        <a a asp-controller="Home" asp-action="Urun" class="btn btn-lg">Tüm Ürünleri İncele</a>
    </div>

    <!-- MOLAAAA--!>

    <!-- ========================  Product info popup - quick view ======================== -->

    <div class="popup-main mfp-hide" id="productid1">

        <!-- === product popup === -->

        <div class="product">

            <!-- === popup-title === -->

            <div class="popup-title">
                <div class="h1 title">
                    Headphones Wireless
                    <small>product category</small>
                </div>
            </div>

            <!-- === product gallery === -->

            <div class="owl-product-gallery">
                <img src="assets/images/product-10.png" alt="" width="640" />
                <img src="assets/images/product-10a.png" alt="" width="640" />
            </div>

            <!-- === product-popup-info === -->

            <div class="popup-content">
                <div class="product-info-wrapper">
                    <div class="row">

                        <!-- === left-column === -->

                        <div class="col-sm-6">
                            <div class="info-box">
                                <strong>Maifacturer</strong>
                                <span>Brand name</span>
                            </div>
                            <div class="info-box">
                                <strong>Materials</strong>
                                <span>Wood, Leather, Acrylic</span>
                            </div>
                            <div class="info-box">
                                <strong>Availability</strong>
                                <span><i class="fa fa-check-square-o"></i> in stock</span>
                            </div>
                        </div>

                        <!-- === right-column === -->

                        <div class="col-sm-6">
                            <div class="info-box">
                                <strong>Available Colors</strong>
                                <div class="product-colors clearfix">
                                    <span class="color-btn color-btn-red"></span>
                                    <span class="color-btn color-btn-blue checked"></span>
                                    <span class="color-btn color-btn-green"></span>
                                    <span class="color-btn color-btn-gray"></span>
                                    <span class="color-btn color-btn-biege"></span>
                                </div>
                            </div>
                            <div class="info-box">
                                <strong>Choose size</strong>
                                <div class="product-colors clearfix">
                                    <span class="color-btn color-btn-biege">S</span>
                                    <span class="color-btn color-btn-biege checked">M</span>
                                    <span class="color-btn color-btn-biege">XL</span>
                                    <span class="color-btn color-btn-biege">XXL</span>
                                </div>
                            </div>
                        </div>

                    </div> <!--/row-->
                </div> <!--/product-info-wrapper-->
            </div> <!--/popup-content-->
            <!-- === product-popup-footer === -->

            <div class="popup-table">
                <div class="popup-cell">
                    <div class="price">
                        <span class="h3">1999,00TL <small>2999,00TL</small></span>
                    </div>
                </div>
                <div class="popup-cell">
                    <div class="popup-buttons">
                        <a href="product.html"><span class="icon icon-eye"></span> <span class="hidden-xs">Fazlasını İncele</span></a>
                        <a href="javascript:void(0);"><span class="icon icon-cart"></span> <span class="hidden-xs">Satın Al</span></a>
                    </div>
                </div>
            </div>

        </div> <!--/product-->
    </div> <!--popup-main--> <!--/container-->

</section>

<!-- ======================== Giyim Bölümü ======================== -->

<section class="blog blog-block">

    <!-- === header === -->

    <header class="hidden">
        <div class="text-center"><h2 class="title">Moda</h2></div>
    </header>

    <div class="row row-clean">

        <!-- === blog item === -->

        <div class="col-sm-4">
            <article>
                <div>
                    <div class="image">
                        <img src="~/img/fashionorenge.jpg" />
                    </div>
                    <div class="entry entry-block">
                        <div class="date">İncele</div>
                        <div class="title">
                            <h2 class="h3">Bayan</h2>
                        </div>
                        <div class="description">
                            <ul>
                                <li>
                                    <a href="#">Yeni Sezon Ürünler</a>
                                </li>
                                <li>
                                    <a href="#">İndirimde Olanlar</a>
                                </li>
                                <li class="more">
                                    <a href="#">Tüm Ürünler</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </article>
        </div>

        <!-- === blog item === -->

        <div class="col-sm-4">
            <article>
                <div>
                    <div class="image">
                        <img src="~/img/shop-4.jpg" alt="" />
                    </div>
                    <div class="entry entry-block">
                        <div class="date">İncele</div>
                        <div class="title">
                            <h2 class="h3">Erkek</h2>
                        </div>
                        <div class="description">
                            <ul class="col">
                                <li>
                                    <a href="#">Yeni Sezon Ürünler</a>
                                </li>
                                <li>
                                    <a href="#">İndirimde Olanlar</a>
                                </li>
                                <li class="more">
                                    <a href="#">Tüm Ürünler</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </article>
        </div>

        <!-- === blog item === -->

        <div class="col-sm-4">
            <article>
                <div>
                    <div class="image">
                        <img src="~/img/shop-5.jpg" alt="" />
                    </div>
                    <div class="entry entry-block">
                        <div class="date">Satın Al</div>
                        <div class="title">
                            <h2 class="h3">Çocuklar</h2>
                        </div>
                        <div class="description">
                            <ul class="col">
                                <li>
                                    <a href="#">Yeni Sezon Ürünler</a>
                                </li>
                                <li>
                                    <a href="#">İndirimde Olanlar</a>
                                </li>
                                <li class="more">
                                    <a href="#">Tüm Ürünler</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </article>
        </div>

    </div> <!--/row-->
</section>

<!-- ========================  Ürünler widget'ları' ======================== -->

<section class="products">

    <!-- === header Başlık === -->

    <header>
        <div class="row">
            <div class="col-md-offset-2 col-md-8 text-center">
                <h2 class="title">Giyim & Ayakkabı</h2>
                <div class="text">
                    <p>En Trend Ürünler ve Markalar İçeride Sizleri Bekliyor</p>
                </div>
            </div>
        </div>
    </header>

    <div class="row row-clean">

        <!-- === product-item === -->

        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">

            <article>
                <div class="info">
                    <span class="add-favorite">
                        <a href="javascript:void(0);" data-title="Add to favorites" data-title-added="Added to favorites list"><i class="icon icon-heart"></i></a>
                    </span>
                    <span>
                        <a href="#productid1" class="mfp-open" data-title="Quick wiew"><i class="icon icon-eye"></i></a>
                    </span>
                </div>
                <div class="btn btn-add">
                    <i class="icon icon-cart"></i>
                </div>
                <div class="figure-grid">
                    <div class="image">
                        <a href="#productid1" class="mfp-open">
                            <img src="~/img/cloth-1.jpg" alt="" width="360" />
                        </a>
                    </div>
                    <div class="text">
                        <h2 class="title h5">
                            <a href="product.html">Elegant shoe</a>
                        </h2>
                        <sub>$ 199,-</sub>
                        <sup>$ 99,-</sup>
                        <span class="description clearfix">Gubergren amet dolor ea diam takimata consetetur facilisis blandit et aliquyam lorem ea duo labore diam sit et consetetur nulla</span>
                    </div>
                </div>
            </article>
        </div>

        <!-- === product-item === -->

        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <article>
                <div class="info">
                    <span class="add-favorite">
                        <a href="javascript:void(0);" data-title="Add to favorites" data-title-added="Added to favorites list"><i class="icon icon-heart"></i></a>
                    </span>
                    <span>
                        <a href="#productid1" class="mfp-open" data-title="Quick wiew"><i class="icon icon-eye"></i></a>
                    </span>
                </div>
                <div class="btn btn-add">
                    <i class="icon icon-cart"></i>
                </div>
                <div class="figure-grid">
                    <div class="image">
                        <a href="#productid1" class="mfp-open">
                            <img src="~/img/cloth-2.jpg" alt="" width="360" />
                        </a>
                    </div>
                    <div class="text">
                        <h2 class="title h5">
                            <a href="product.html">Polo shirt</a>
                        </h2>
                        <sub>$ 159,-</sub>
                        <sup>$ 129,-</sup>
                        <span class="description clearfix">Gubergren amet dolor ea diam takimata consetetur facilisis blandit et aliquyam lorem ea duo labore diam sit et consetetur nulla</span>
                    </div>
                </div>
            </article>
        </div>

        <!-- === product-item === -->

        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <article>
                <div class="info">
                    <span class="add-favorite">
                        <a href="javascript:void(0);" data-title="Add to favorites" data-title-added="Added to favorites list"><i class="icon icon-heart"></i></a>
                    </span>
                    <span>
                        <a href="#productid1" class="mfp-open" data-title="Quick wiew"><i class="icon icon-eye"></i></a>
                    </span>
                </div>
                <div class="btn btn-add">
                    <i class="icon icon-cart"></i>
                </div>
                <div class="figure-grid">
                    <span class="label label-warning">New</span>
                    <div class="image">
                        <a href="#productid1" class="mfp-open">
                            <img src="~/img/cloth-3.jpg" alt="" width="360" />
                        </a>
                    </div>
                    <div class="text">
                        <h2 class="title h5">
                            <a href="product.html">T-shirt</a>
                        </h2>
                        <sup>$ 29,-</sup>
                        <span class="description clearfix">Gubergren amet dolor ea diam takimata consetetur facilisis blandit et aliquyam lorem ea duo labore diam sit et consetetur nulla</span>
                    </div>
                </div>
            </article>
        </div>

        <!-- === product-item === -->

        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <article>
                <div class="info">
                    <span class="add-favorite added">
                        <a href="javascript:void(0);" data-title="Add to favorites" data-title-added="Added to favorites list"><i class="icon icon-heart"></i></a>
                    </span>
                    <span>
                        <a href="#productid1" class="mfp-open" data-title="Quick wiew"><i class="icon icon-eye"></i></a>
                    </span>
                </div>
                <div class="btn btn-add">
                    <i class="icon icon-cart"></i>
                </div>
                <div class="figure-grid">
                    <div class="image">
                        <a href="#productid1" class="mfp-open">
                            <img src="~/img/cloth-4.jpg" alt="" width="360" />
                        </a>
                    </div>
                    <div class="text">
                        <h2 class="title h5">
                            <a href="product.html">Winter Jacket</a>
                        </h2>
                        <sup>$ 299,-</sup>
                        <span class="description clearfix">Gubergren amet dolor ea diam takimata consetetur facilisis blandit et aliquyam lorem ea duo labore diam sit et consetetur nulla</span>
                    </div>
                </div>
            </article>
        </div>

        <!-- === product-item === -->

        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <article>
                <div class="info">
                    <span class="add-favorite">
                        <a href="javascript:void(0);" data-title="Add to favorites" data-title-added="Added to favorites list"><i class="icon icon-heart"></i></a>
                    </span>
                    <span>
                        <a href="#productid1" class="mfp-open" data-title="Quick wiew"><i class="icon icon-eye"></i></a>
                    </span>
                </div>
                <div class="btn btn-add">
                    <i class="icon icon-cart"></i>
                </div>
                <div class="figure-grid">
                    <span class="label label-info">-50%</span>
                    <div class="image">
                        <a href="#productid1" class="mfp-open">
                            <img src="~/img/cloth-5.jpg" alt="" width="360" />
                        </a>
                    </div>
                    <div class="text">
                        <h2 class="title h5">
                            <a href="product.html">Sweater</a>
                        </h2>
                        <sub>$ 49,-</sub>
                        <sup>$ 19,-</sup>
                        <span class="description clearfix">Gubergren amet dolor ea diam takimata consetetur facilisis blandit et aliquyam lorem ea duo labore diam sit et consetetur nulla</span>
                    </div>
                </div>
            </article>
        </div>

        <!-- === product-item === -->

        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <article>
                <div class="info">
                    <span class="add-favorite">
                        <a href="javascript:void(0);" data-title="Add to favorites" data-title-added="Added to favorites list"><i class="icon icon-heart"></i></a>
                    </span>
                    <span>
                        <a href="#productid1" class="mfp-open" data-title="Quick wiew"><i class="icon icon-eye"></i></a>
                    </span>
                </div>
                <div class="btn btn-add">
                    <i class="icon icon-cart"></i>
                </div>
                <div class="figure-grid">
                    <div class="image">
                        <a href="#productid1" class="mfp-open">
                            <img src="~/img/cloth-6.jpg" alt="" width="360" />
                        </a>
                    </div>
                    <div class="text">
                        <h2 class="title h5">
                            <a href="product.html">Lether jacket</a>
                        </h2>
                        <sup>$ 499,-</sup>
                        <span class="description clearfix">Gubergren amet dolor ea diam takimata consetetur facilisis blandit et aliquyam lorem ea duo labore diam sit et consetetur nulla</span>
                    </div>
                </div>
            </article>
        </div>
    </div>

    <!-- === button more === -->

    <div class="wrapper-more">
        <a href="products-grid.html" class="btn btn-lg">View store</a>
    </div>
</section>

<!-- ========================  Block banner shop  ======================== -->

<section class="blog blog-block">

    <!-- === header === -->

    <header class="hidden">
        <div class="text-center"><h2 class="title">Banner</h2></div>
    </header>

    <div class="row row-clean">

        <!-- === blog item === -->

        <div class="col-lg-6">
            <article>
                <div>
                    <div class="image">
                        <img src="assets/images/cat-1.jpg" alt="" />
                    </div>
                    <div class="entry entry-block">
                        <div class="date">Shop for</div>
                        <div class="title">
                            <h2 class="h3">Boxing & MMA Equipment</h2>
                        </div>
                        <div class="description">
                            <ul>
                                <li>
                                    <a href="#">New arrivals</a>
                                </li>
                                <li>
                                    <a href="#">Doscount sale collection</a>
                                </li>
                                <li class="more">
                                    <a href="#">More</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </article>
        </div>

        <!-- === blog item === -->

        <div class="col-lg-6">
            <article>
                <div>
                    <div class="image">
                        <img src="assets/images/cat-2.jpg" alt="" />
                    </div>
                    <div class="entry entry-block">
                        <div class="date">Shop for</div>
                        <div class="title">
                            <h2 class="h3">Fitness, Running & Yoga Equipment</h2>
                        </div>
                        <div class="description">
                            <ul class="col">
                                <li>
                                    <a href="#">New arrivals</a>
                                </li>
                                <li>
                                    <a href="#">Doscount sale collection</a>
                                </li>
                                <li class="more">
                                    <a href="#">More</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </article>
        </div>


    </div> <!--/row-->
</section>


<!-- ========================  Stretcher widget ======================== -->

<section class="stretcher-wrapper">

    <!-- === stretcher header === -->

    <header>
        <div class="row">
            <div class="col-md-offset-2 col-md-8 text-center">
                <h1 class="h2 title">Premium Saatler</h1>
                <div class="text">
                    <p>Give the gift of polished punctuality</p>
                </div>
            </div>
        </div>
    </header>

    <!-- === stretcher === -->

    <ul class="stretcher">

        <!-- === stretcher item === -->

        <li class="stretcher-item" style="background-image:url(~/wwwroot/img/shop-6.jpg);">
            <img src="~/img/shop-6.jpg" />
            <!--logo-item-->
            <div class="stretcher-logo">
                <div class="text">
                    <span class="text-intro">Man's</span>
                </div>
            </div>
            <!--main text-->
            <figure>
                <h4>Man's watches</h4>
                <figcaption>Collection of prestigious, high precision timepieces</figcaption>
            </figure>
            <!--anchor-->
            <a href="#">Anchor link</a>
        </li>

        <!-- === stretcher item === -->

        <li class="stretcher-item" style="background-image:url(~/wwwroot/img/shop-7.jpg);">
            <img src="~/img/shop-7.jpg" />
            <!--logo-item-->
            <div class="stretcher-logo">
                <div class="text">
                    <span class="text-intro">Woman's</span>
                </div>
            </div>
            <!--main text-->
            <figure>
                <h4>Womans's watches</h4>
                <figcaption>Choose among a wonderful variety of refined and feminine timepieces</figcaption>
            </figure>
            <!--anchor-->
            <a href="#">Anchor link</a>
        </li>

        <!-- === stretcher item === -->

        <li class="stretcher-item" style="background-image:url(~/wwwroot/img/shop-8.jpg);">
            <img src="~/img/shop-8.jpg" />
            <!--logo-item-->
            <div class="stretcher-logo">
                <div class="text">
                    <span class="text-intro">Professional</span>
                </div>
            </div>
            <!--main text-->
            <figure>
                <h4>Professional watches</h4>
                <figcaption>Discover your favourite model by combining materials</figcaption>
            </figure>
            <!--anchor-->
            <a href="#">Anchor link</a>
        </li>

        <!-- === stretcher item === -->

        <li class="stretcher-item" style="background-image:url(~/wwwroot/img/shop-9.jpg);">
            <img src="~/img/shop-9.jpg" />
            <!--logo-item-->
            <div class="stretcher-logo">
                <div class="text">
                    <span class="text-intro">Diamond bezzels</span>
                </div>
            </div>
            <!--main text-->
            <figure>
                <h4>Diamond bezzels</h4>
                <figcaption>Diamond bezel watch collection of luxurious pieces</figcaption>
            </figure>
            <!--anchor-->
            <a href="#">Anchor link</a>
        </li>

        <!-- === stretcher item more=== -->

        <li class="stretcher-item more">
            <div class="more-icon">
                <span data-title-show="Show more" data-title-hide="+"></span>
            </div>
            <a href="#"></a>
        </li>

    </ul>
</section>


<!-- ========================  Blog ======================== -->

<section class="blog blog-widget blog-animation">

    <!-- === blog header === -->

    <header>
        <div class="row">
            <div class="col-md-offset-2 col-md-8 text-center">
                <h1 class="h2 title">Blog</h1>
                <div class="text">
                    <p>Latest news from the blog</p>
                </div>
            </div>
        </div>
    </header>

    <div class="container">

        <div class="row">

            <!-- === blog item === -->

            <div class="col-sm-3">
                <article>
                    <a href="article.html">
                        <div class="image" style="background-image:url(assets/images/blog-1.jpg)">
                            <img src="assets/images/blog-1.jpg" alt="" />
                        </div>
                        <div class="entry entry-table">
                            <div class="date-wrapper">
                                <div class="date">
                                    <span>MAR</span>
                                    <strong>08</strong>
                                    <span>2017</span>
                                </div>
                            </div>
                            <div class="title">
                                <h2 class="h5">Turn off the lights before bed with one word</h2>
                            </div>
                        </div>
                    </a>
                </article>
            </div>

            <!-- === blog item === -->

            <div class="col-sm-3">
                <article>
                    <a href="article.html">
                        <div class="image" style="background-image:url(assets/images/blog-2.jpg)">
                            <img src="assets/images/blog-2.jpg" alt="" />
                        </div>
                        <div class="entry entry-table">
                            <div class="date-wrapper">
                                <div class="date">
                                    <span>MAR</span>
                                    <strong>03</strong>
                                    <span>2017</span>
                                </div>
                            </div>
                            <div class="title">
                                <h2 class="h5">Lock the front door when you head to work</h2>
                            </div>
                        </div>
                    </a>
                </article>
            </div>

            <!-- === blog item === -->

            <div class="col-sm-3">
                <article>
                    <a href="article.html">
                        <div class="image" style="background-image:url(assets/images/blog-3.jpg)">
                            <img src="assets/images/blog-3.jpg" alt="" />
                        </div>
                        <div class="entry entry-table">
                            <div class="date-wrapper">
                                <div class="date">
                                    <span>MAR</span>
                                    <strong>01</strong>
                                    <span>2017</span>
                                </div>
                            </div>
                            <div class="title">
                                <h2 class="h5">Get a notification when your kids walk in the door</h2>
                            </div>
                        </div>
                    </a>
                </article>
            </div>

            <!-- === blog item === -->

            <div class="col-sm-3">
                <article>
                    <a href="article.html">
                        <div class="image" style="background-image:url(assets/images/blog-4.jpg)">
                            <img src="assets/images/blog-4.jpg" alt="" />
                        </div>
                        <div class="entry entry-table">
                            <div class="date-wrapper">
                                <div class="date">
                                    <span>MAR</span>
                                    <strong>01</strong>
                                    <span>2017</span>
                                </div>
                            </div>
                            <div class="title">
                                <h2 class="h5">Wake up to a warm cup of coffee</h2>
                            </div>
                        </div>
                    </a>
                </article>
            </div>

        </div> <!--/row-->
    </div>
    <!-- === button more === -->

    <div class="wrapper-more">
        <a href="blog-grid.html" class="btn btn-lg">View all posts</a>
    </div> <!--/container-->
</section>


<!-- ========================  Banner ======================== -->

<section class="banner">

    <!-- === header === -->

    <h2 class="hidden">Banner</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 text-center">
                <h2 class="title">Our story</h2>
                <p>
                    We believe in creativity as one of the major forces of progress. With this idea, we traveled throughout Italy to find exceptional
                    artisans and bring their unique handcrafted objects to connoisseurs everywhere.
                </p>
                <p>
                    <a href="about.html" class="btn btn-clean">Read full story</a>
                </p>
            </div>
        </div>
    </div>
</section>

<!-- ========================  Instagram ======================== -->

<section class="instagram">

    <!-- === instagram header === -->

    <header>
        <h2 class="h3 title">
            Follow us<br />
            <i class="fa fa-instagram fa-3x"></i> <br />
            Instagram
        </h2>
        <div class="text">
            <p></p>
        </div>
    </header>

    <!-- === instagram gallery === -->

    <div class="gallery clearfix">
        <a class="item" href="#">
            <img src="assets/images/square-1.jpg" alt="Alternate Text" />
        </a>
        <a class="item" href="#">
            <img src="assets/images/square-2.jpg" alt="Alternate Text" />
        </a>
        <a class="item" href="#">
            <img src="assets/images/square-3.jpg" alt="Alternate Text" />
        </a>
        <a class="item" href="#">
            <img src="assets/images/square-4.jpg" alt="Alternate Text" />
        </a>
        <a class="item" href="#">
            <img src="assets/images/square-5.jpg" alt="Alternate Text" />
        </a>
        <a class="item" href="#">
            <img src="assets/images/square-6.jpg" alt="Alternate Text" />
        </a>
        <a class="item" href="#">
            <img src="assets/images/square-7.jpg" alt="Alternate Text" />
        </a>
        <a class="item" href="#">
            <img src="assets/images/square-8.jpg" alt="Alternate Text" />
        </a>
        <a class="item" href="#">
            <img src="assets/images/square-9.jpg" alt="Alternate Text" />
        </a>
        <a class="item" href="#">
            <img src="assets/images/square-10.jpg" alt="Alternate Text" />
        </a>
        <a class="item" href="#">
            <img src="assets/images/square-11.jpg" alt="Alternate Text" />
        </a>
        <a class="item" href="#">
            <img src="assets/images/square-12.jpg" alt="Alternate Text" />
        </a>
    </div> <!--/gallery-->

</section>