<body>

    <div class="page-loader"></div>

    <div class="wrapper">

            


        <!-- ========================  Main header ======================== -->

        <section class="main-header" style="background-image:url(assets/images/gallery-4.jpg)">
            <header>
                <div class="container text-center">
                    <h1 class="h2 title">Hakkımızda</h1>
                    <ol class="breadcrumb breadcrumb-inverted">
                        <li><a asp-controller="Home" asp-action="Anasayfa"><span class="icon icon-home"></span></a></li>
                        <li><a class="active" asp-controller="Home" asp-action="Anasayfa">Anasayfa</a></li>
                    </ol>
                </div>
            </header>
        </section>

        <!-- ================== Intro section default ================== -->

        <section>

            <!-- === Intro text === -->

            <div class="about">

                <div class="image">
                    <img src="assets/images/map-lg.jpg" alt="Alternate Text" />
                </div>

                <div class="container">

                    <!-- === Grid === -->

                    <div class="row">
                        <div class="col-md-6">
                            <h4>Kuruluş Zamanı</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        <div class="col-md-6">
                            <h4>Luthfansa Hakkında Genel Bilgiler</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                        </div>
                    </div>

                    <hr />

                    <!-- === Text === -->

                    <div class="text">
                        <h4>Türkiye'nin En Kaliteli E-Ticaret Sitesi </h4>
                        <p>
                            lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                        <h4>Misyonumuz</h4>
                        <p>
                            lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>

                    </div>

                    <hr />

                    <!-- === Numaralar === -->

                    <div class="numbers">
                        <div class="row">

                            <div class="col-md-3">
                                <div class="item">
                                    <div class="number">15</div>
                                    <div class="title">Yıl</div>
                                    <div class="text">Deneyim</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="item">
                                    <div class="number">81</div>
                                    <div class="title">İl'de'</div>
                                    <div class="text">Hızlı Teslimat </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="item">
                                    <div class="number">1500</div>
                                    <div class="title">Satış Ortaklığı</div>
                                    <div class="text">E-Ticaret Ortaklıkları</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="item">
                                    <div class="number">10</div>
                                    <div class="title">Ülke'den'</div>
                                    <div class="text">İthalat hizmeti </div>
                                </div>
                            </div>
                        </div>
                    </div> 

                </div>

            </div>

            <!-- === Bilgi Ekranı === -->

            <div class="team">

                <!-- ===Bilgi ekranı === -->

                <header>
                    <div class="row">
                        <div class="col-md-offset-2 col-md-8 text-center">
                            <h1 class="h2 title">Üstün Hizmet Anlayışı</h1>
                            <div class="text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                        </div>
                    </div>
                </header>

                <div class="row row-clean">

                    <!-- === team member === -->

                    <div class="col-sm-3">
                        <article>
                            <div class="details details-text">
                                <div class="inner">
                                    <h3 class="title">Servet ZABUN</h3>
                                    <h6 class="title">CEO</h6>
                                </div>
                            </div>
                            <div class="image">
                                <img src="~/img/User.png" alt="" />
                            </div>
                            <div class="details details-social">
                                <div class="inner">
                                    <a href="#"><i class="fa fa-phone"></i></a>
                                    <a href="#"><i class="fa fa-envelope"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </article>
                    </div>

                    <!-- === team member === -->

                    <div class="col-sm-3">
                        <article>
                            <div class="details details-text">
                                <div class="inner">
                                    <h3 class="title">Servet ZABUN</h3>
                                    <h6 class="title">Architect</h6>
                                </div>
                            </div>
                            <div class="image">
                                <img src="~/img/User.png" alt="" />
                            </div>
                            <div class="details details-social">
                                <div class="inner">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </article>
                    </div>

                    <!-- === team member === -->

                    <div class="col-sm-3">
                        <article>
                            <div class="details details-text">
                                <div class="inner">
                                    <h3 class="title">Servet ZABUN</h3>
                                    <h6 class="title">Quality director</h6>
                                </div>
                            </div>
                            <div class="image">
                                <img src="~/img/User.png" alt="" />
                            </div>
                            <div class="details details-social">
                                <div class="inner">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </article>
                    </div>

                    <!-- === team member === -->

                    <div class="col-sm-3">
                        <article>
                            <div class="details details-text">
                                <div class="inner">
                                    <h3 class="title">Servet ZABUN</h3>
                                    <h6 class="title">Supervisor</h6>
                                </div>
                            </div>
                            <div class="image">
                                <img src="~/img/User.png" alt="" />
                            </div>
                            <div class="details details-social">
                                <div class="inner">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </article>
                    </div>

                </div> <!--/row-->
                <!-- === button more === -->

                <div class="wrapper-more">
                    <a href="contact.html" class="btn btn-lg">İletişime Geç</a>
                </div>
            </div> <!--/team-->
        </section>

        <!-- ================== Banner ================== -->

        <section class="banner">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-2 col-md-8 text-center">
                        <h1 class="h2 title">Bizimle Çalışmak İster misiniz?</h1>
                        <div class="text">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                            <p><a href="#" class="btn btn-clean">Şimdi Başvur</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- ========================  Tarihçe ======================== -->

        <section class="history">
            <div class="container">

                <!-- === History header === -->

                <header>
                    <div class="row">
                        <div class="col-md-offset-2 col-md-8 text-center">
                            <h1 class="h2 title">Kısaca Yaptıklarımız</h1>
                            <div class="text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                </header>

                <!-- === row item === -->

                <div class="row row-block">
                    <div class="col-md-5 history-image" style="background-image:url(assets/images/blog-3.jpg)">
                        <div class="history-title">
                            <h2 class="title">2013</h2>
                            <p>Kuruluş</p>
                        </div>
                    </div>
                    <div class="col-md-7 history-desc">
                        <div class="h5 title">Nasıl Başladık</div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                </div>

                <!-- === row item === -->
                <div class="row row-block">
                    <div class="col-md-5 history-image" style="background-image:url(assets/images/blog-4.jpg)">
                        <div class="history-title">
                            <h2 class="title">2018</h2>
                            <p>İlk 5 Yıl</p>
                        </div>
                    </div>
                    <div class="col-md-7 history-desc">
                        <div class="h5 title">Büyük Özveri İle Çalıştık</div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                </div>

                <!-- === row item === -->
                <div class="row row-block">
                    <div class="col-md-5 history-image" style="background-image:url(assets/images/blog-5.jpg)">
                        <div class="history-title">
                            <h2 class="title">2020</h2>
                            <p>Uluslararası Marka</p>
                        </div>
                    </div>
                    <div class="col-md-7 history-desc">
                        <div class="h5 title">Herkes bizi Tanıyor</div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                </div>

                <!-- === row item === -->
                <div class="row row-block">
                    <div class="col-md-5 history-image" style="background-image:url(assets/images/blog-6.jpg)">
                        <div class="history-title">
                            <h2 class="title">2023</h2>
                            <p>Hedef Yılımızda'yız'</p>
                        </div>
                    </div>
                    <div class="col-md-7 history-desc">
                        <div class="h5 title">Tekrardan Güçleniyoruz</div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                </div>
            </div>
        </section>


        <!-- ======================== Quotes ======================== -->

        <section class="quotes quotes-slider" style="background-image:url(assets/images/gallery-2.jpg)">
            <div class="container">
                <div class="row">

                    <div class="quote-carousel">

                        <!-- === quoute item === -->

                        <div class="quote">
                            <div class="image">
                                <img src="assets/images/user-3.jpg" alt="" />
                            </div>
                            <div class="text">
                                <h4>Jenna Hale</h4>
                                <p>Ipsum dolore eros dolore <br />dolor dolores sit iriure</p>
                            </div>
                            <div class="more">
                                <div class="rating">
                                    <span class="icon icon-star"></span>
                                    <span class="icon icon-star"></span>
                                    <span class="icon icon-star"></span>
                                    <span class="icon icon-star"></span>
                                    <span class="icon icon-star"></span>
                                </div>
                            </div>
                        </div>

                        <!-- === quoute item === -->

                        <div class="quote">
                            <div class="image">
                                <img src="assets/images/user-1.jpg" alt="" />
                            </div>
                            <div class="text">
                                <h4>Glen Jordan</h4>
                                <p>Ipsum dolore eros dolore <br />dolor dolores sit iriure</p>
                            </div>
                            <div class="more">
                                <div class="rating">
                                    <span class="icon icon-star"></span>
                                    <span class="icon icon-star"></span>
                                    <span class="icon icon-star"></span>
                                    <span class="icon icon-star"></span>
                                    <span class="icon icon-star"></span>
                                </div>
                            </div>
                        </div>

                        <!-- === quoute item === -->

                        <div class="quote">
                            <div class="image">
                                <img src="assets/images/user-4.jpg" alt="" />
                            </div>
                            <div class="text">
                                <h4>Lea Nils</h4>
                                <p>Ipsum dolore eros dolore <br />dolor dolores sit iriure</p>
                            </div>
                            <div class="more">
                                <div class="rating">
                                    <span class="icon icon-star"></span>
                                    <span class="icon icon-star"></span>
                                    <span class="icon icon-star"></span>
                                    <span class="icon icon-star"></span>
                                    <span class="icon icon-star"></span>
                                </div>
                            </div>
                        </div>

                        <!-- === quoute item === -->

                        <div class="quote">
                            <div class="image">
                                <img src="assets/images/user-5.jpg" alt="" />
                            </div>
                            <div class="text">
                                <h4>Nora Star</h4>
                                <p>Ipsum dolore eros dolore <br />dolor dolores sit iriure</p>
                            </div>
                            <div class="more">
                                <div class="rating">
                                    <span class="icon icon-star"></span>
                                    <span class="icon icon-star"></span>
                                    <span class="icon icon-star"></span>
                                    <span class="icon icon-star"></span>
                                    <span class="icon icon-star"></span>
                                </div>
                            </div>
                        </div>
                    </div> <!--/quote-carousel-->
                </div> <!--/row-->
            </div> <!--/container-->
        </section>

        <!-- ================== Footer  ================== -->

        <footer>
            <!--footer showroom-->
            <div class="footer-showroom hidden">
                <div class="row">
                    <div class="col-sm-8">
                        <h2>Visit our showroom</h2>
                        <p>200 12th Ave, New York, NY 10001, USA</p>
                        <p>Mon - Sat: 10 am - 6 pm &nbsp; &nbsp; | &nbsp; &nbsp; Sun: 12pm - 2 pm</p>
                    </div>
                    <div class="col-sm-4 text-center">
                        <a href="#" class="btn btn-clean"><span class="icon icon-map-marker"></span> Get directions</a>
                        <div class="call-us h4"><span class="icon icon-phone-handset"></span> 333.278.06622</div>
                    </div>
                </div>
            </div>

            <!--footer links-->
            <div class="footer-links">
                <div class="row">
                    <div class="col-sm-4 col-md-2">
                        <h5>Browse by</h5>
                        <ul>
                            <li><a href="#">Brand</a></li>
                            <li><a href="#">Product</a></li>
                            <li><a href="#">Category</a></li>
                            <li><a href="#">Projects</a></li>
                            <li><a href="#">Sales</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-2">
                        <h5>Quick links</h5>
                        <ul>
                            <li><a href="#">In-Store Pickup</a></li>
                            <li><a href="#">Gift Cards</a></li>
                            <li><a href="#">Afterpay</a></li>
                            <li><a href="#">Shop</a></li>
                            <li><a href="#">Store Locator</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-2">
                        <h5>Order info</h5>
                        <ul>
                            <li><a href="#">Order Status </a></li>
                            <li><a href="#">Payments</a></li>
                            <li><a href="#">Shipping</a></li>
                            <li><a href="#">Returns</a></li>
                            <li><a href="#">Exchanges</a></li>
                            <li><a href="#">Order history</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-2">
                        <h5>Customer service</h5>
                        <ul>
                            <li><a href="#">Help Center</a></li>
                            <li><a href="#">Product Recalls</a></li>
                            <li><a href="#">Shipping</a></li>
                            <li><a href="#">Feedback</a></li>
                            <li><a href="#">Store Pickup</a></li>
                            <li><a href="#">Contact us</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <h5>Sign up for our newsletter</h5>
                        <p><i>Add your email address to sign up for our monthly emails and to receive promotional offers.</i></p>
                        <div class="form-group form-newsletter">
                            <input class="form-control" type="text" name="email" value="" placeholder="Email address" />
                            <input type="submit" class="btn btn-main btn-sm" value="Subscribe" />
                        </div>
                    </div>
                </div>
            </div>

            <!--footer social-->

            <div class="footer-social">
                <div class="row">
                    <div class="col-sm-6">
                        <a href="#" target="_blank"><i class="fa fa-download"></i> Download Lager</a> &nbsp; | &nbsp; <a href="#">Sitemap</a> &nbsp; | &nbsp; <a href="#">Privacy policy</a>
                    </div>
                    <div class="col-sm-6 links">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

    </div> <!--/wrapper-->
    <!--JS files-->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.bootstrap.js"></script>
    <script src="js/jquery.magnific-popup.js"></script>
    <script src="js/jquery.owl.carousel.js"></script>
    <script src="js/jquery.ion.rangeSlider.js"></script>
    <script src="js/main.js"></script>
</body>